Azure-Demo'.'/pipeline/New_pl_Q19_Copy_AllTables_Incremental_copy1.json
{
	"name": "New_pl_Q19_Copy_AllTables_Incremental_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Get_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableName, IncrementalColumn FROM Table_Metadata",
						"queryTimeout": "01:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlTable_MetaData",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Get_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Get_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If_IncrementalColumn_Exists",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(empty(item().IncrementalColumn))\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_Full_Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().TableName}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_all_SqlTables",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"schema": "dbo"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_SqlTables_trg_DiffSchema",
												"type": "DatasetReference",
												"parameters": {
													"t_tablename": "@item().TableName"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_Incremental",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * \nFROM @{item().TableName}\nWHERE @{item().IncrementalColumn} > @{item().LastCopiedValue}\n",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_all_SqlTables",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"schema": "dbo"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_SqlTables_trg_DiffSchema",
												"type": "DatasetReference",
												"parameters": {
													"t_tablename": "@item().TableName"
												}
											}
										]
									},
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_Incremental",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.10:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "dbo.Table_Metadata",
											"storedProcedureParameters": {
												"TableName": {
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"type": "String"
												},
												"IncrementalColumn": {
													"value": "@item().IncrementalColumn",
													"type": "String"
												},
												"LastLoadedValue": {
													"value": {
														"value": "@item().LastLoadedValue",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf-assignment-4"
		},
		"annotations": []
	}
}