Azure-Demo'.'/pipeline/pl_Q18_PL_Copy_ProductModel_Conditional.json
{
	"name": "pl_Q18_PL_Copy_ProductModel_Conditional",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Source_MaxID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.10:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(ProductModelID),0) AS MaxID \nFROM SalesLT.ProductModel\n",
						"queryTimeout": "01:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_src_sqlProductModel",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup_destination_MaxID",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Source_MaxID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.10:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(ProductModelID),0) AS MaxID \r\nFROM SalesLT.ProductModel",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_trg_ProductModel_TB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_Source_Greater_Than_Destination",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_destination_MaxID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup_Source_MaxID').output.firstRow.MaxID,activity('Lookup_destination_MaxID').output.firstRow.MaxID)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy_New_ProductModel_Records",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.10:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM SalesLT.ProductModel\nWHERE ProductModelID > @{activity('Lookup_destination_MaxID').output.firstRow.MaxID}\n",
										"type": "Expression"
									},
									"queryTimeout": "01:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_src_sqlProductModel",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_trg_ProductModel_TB",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf-assignment-4"
		},
		"annotations": []
	}
}