Azure-Demo'.'/pipeline/pl_Q19_Copy_AllTables_Incremental.json
{
	"name": "pl_Q19_Copy_AllTables_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Get_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableName, IncrementalColumn FROM Table_Metadata",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_all_SqlTables",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "Table_Metadata",
							"schema": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Get_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Get_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If_IncrementalColumn_Exists",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(empty(item().IncrementalColumn))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_Full_Load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().TableName}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_all_SqlTables",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"schema": "dbo"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_SqlTables_trg_DiffSchema",
												"type": "DatasetReference",
												"parameters": {
													"t_tablename": "@item().TableName"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Lookup_Destination_MaxValue",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT ISNULL(MAX(@{item().IncrementalColumn}),0) AS MaxValue FROM @{item().TableName}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_SqlTables_trg_DiffSchema",
												"type": "DatasetReference",
												"parameters": {
													"t_tablename": {
														"value": "@activity('Lookup_Get_Tables').output.value",
														"type": "Expression"
													}
												}
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "Copy_Incremental",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Lookup_Destination_MaxValue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT * FROM @{item().TableName} WHERE @{item().IncrementalColumn} > @{activity('Lookup_Destination_MaxValue').output.firstRow.MaxValue}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"tableOption": "autoCreate"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_all_SqlTables",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@item().TableName",
														"type": "Expression"
													},
													"schema": "dbo"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_SqlTables_trg_DiffSchema",
												"type": "DatasetReference",
												"parameters": {
													"t_tablename": "@item().TableName"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf-assignment-4"
		},
		"annotations": []
	}
}