Azure-Demo'.'/pipeline/pl_until_setVariable_demo.json
{
	"name": "pl_until_setVariable_demo",
	"properties": {
		"activities": [
			{
				"name": "Until_demo",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FileAvailable'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Binary_dataSet",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(activity('Get Metadata').output.exists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait_120_secs",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 120
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable_demo",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileAvailable",
											"value": "True"
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:10:00"
				}
			}
		],
		"variables": {
			"FileAvailable": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"folder": {
			"name": "adf-practice"
		},
		"annotations": []
	}
}